.aprendi {
    height: 95vh;
    display: flex;
    position: relative;
}
.image-aprendi {
    flex: 1;
    display: block;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.616)
      ),
      url('../assets/us.jpg');
    background-position: -20%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}
.aprendi-descricao {
    background-color: rgba(211, 211, 211, 0.5);
    position: relative;
    flex: 2;
}

.aprendi-image {
    transform: translateY(-50%);
    max-width: 100%;
}



.aprendi-link {
    display: inline-block;
    transition: all 0.5s;
    padding: 0.8rem 2rem;
    font-size: 3rem;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1.5rem;
    /* background-color: black;
    border: 0;
    color: white; */
}

.aprendi-link:link,
 .aprendi-link:visited {
   color: white;
   text-transform: uppercase;
   background-image: linear-gradient(
     120deg,
     black 0%,
     black 50%,
     white 50%
   );
   background-size: 220%;
}

.aprendi-link:hover,
.aprendi-link:active {
  color: black;
  background-position: 100%;
  transform: translateX(3%);
}

.aprendi-typography-big {
    display: block;
    position: absolute;
    left: 50%;
    top: -100%;
    width: 90%;
    height: 75%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: rgb(161, 161, 161);
    transition: all .5s;
}

.aprendi-typography {
    display: block;
    width: 80%;
    height: 70%;
    background-color: rgb(206, 206, 206);
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    transition: all .5s;
}

/* .aprendi-descricao:hover + .aprendi-typography-big {
    top: 50%;
    visibility: visible;
} */

.aprendi-typography-big:hover {
    top: 0;
}

.aprendi-typography-title {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: table;
    text-align: center;
    height: 80px;
    width: 650px;
}

.aprendi-main-title {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 2rem;
}

.aprendi-typography-text {
    display: table;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    width: 650px;
}

.aprendi-secondary-text {
    padding: 2rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4rem;
}

.big-text-checkbox {
    display: none;
}
.big-text-checkbox:checked ~ .aprendi-typography-big {
    top: 50%;
    visibility: visible;
}
.big-text-button {
    background-color: white;
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 70%;
    right: 5%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    box-shadow: 0rem 1rem 3rem rgba(black, 0.1);
}

.big-text-icon {
    position: relative;
    margin-top: 2.5rem;
    font-size: 2rem;
}
.big-text-icon,
.big-text-icon::after {
    width: 2rem;
    height: 4px;
    background-color: rgb(161, 161, 161);
    display: inline-block;
    transition: all .2s;
}

.big-text-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transform: rotate(90deg);
}
.big-text-checkbox:checked + .big-text-button .big-text-icon {
    transform: rotate(360deg);
}

.big-text-checkbox:checked + .big-text-button .big-text-icon::after {
    transform: rotate(0deg);
}

.aprendi-typography-big-header {
    padding: 1rem 2rem;
    color: black;
    font-size: 3rem;
}

.aprendi-typography-big-description {
    font-size: 1rem;
}

.navigation-aprendi {
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    top: 108%;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 0.5s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    z-index: 50;
}

.navigation-aprendi img {
    max-width: 100%;
}

@keyframes bounce {
    from { transform: translateY(-2%);     }
    to   { transform: translateY(7%); }
  }
